<div class="container is-fluid">
<div class="container has-text-centered">

  <div class="column is-4 is-offset-4">
    <div class="box box-height-full">
      <div>
        <!--<app-block-info title="Total OC recibidas" ></app-block-info>-->
        <p class="card-header-title">Bienvenid@ a Motor Transaccional Digital (MTD) </p>
        <br>
        <p><strong>{{usuario.name}} {{usuario.lastame}}, </strong> estas conectado como <strong>{{usuario.profileName}}</strong></p>
        <p>Escoja la opci&oacute;n deseada en el men&uacute; izquierdo</p>



        <br>

      </div>
    </div>
  </div>
</div>
</div>

