<div id="app">



    <section class="main-content columns is-fullheight">

        <aside class="column is-3 is-narrow-mobile is-fullheight section is-hidden-mobile">

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>N°OC</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Someone</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Someone</td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>François</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Someone</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Someone</td>
                    </tr>
                </tbody>
            </table>
        </aside>

        <div class="container column is-9">
            <div class="section">

                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Datos del Cliente</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="columns is-gapless">
                                <div class="column">
                                    <div class="field">
                                        <label class="">Nombre</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="">Rut</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="">Telefono</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="">Email</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label class="">Direccion</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Text input">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <br />

                <div class="card is-hidden1">
                    <div class="card-header">
                        <p class="card-header-title">Productos Comprados</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br />

                <div class="card is-hidden1">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br />

                <div class="card is-hidden1">
                    <div class="card-header">
                        <p class="card-header-title">Header</p>
                    </div>
                    <div class="card-content">
                        <div class="content">Content</div>
                    </div>
                </div>
                <br />


            </div>
        </div>

    </section>

    <footer class="footer is-hidden">
        <div class="container">
            <div class="content has-text-centered">
                <p>Hello</p>
            </div>
        </div>
    </footer>

</div>