<app-main-navbar>
</app-main-navbar>

<section class="container is-fluid ">
    <div class="card ">
        <div class="card-header ">
            <p class="button is-info is-small">IdUsuario</p>
        </div>
        <div class="content ">
            <div class="columns ">
                <div class="column ">
                    <div class="field ">
                        <label class="label is-small ">Nombre</label>
                        <div class="control is-disabled ">
                            <input class="input is-disabled " type="text ">
                        </div>
                    </div>
                </div>
                <div class="column ">
                    <div class="field ">
                        <label class="label is-small ">Contraseña</label>
                        <div class="control ">
                            <input class="input " type="password">
                        </div>
                    </div>
                </div>
                <div class="column ">
                    <div class="field ">
                        <label class="label is-small ">Sucursal</label>
                        <div class="control ">
                            <input class="input " type="text ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
</section>