/* You can add global styles to this file, and also import other style files */

@import 'scss/variables';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-steps-component/bulma-steps.sass';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'scss/variables';
@import 'scss/base';
@import 'scss/form';
@import 'scss/modal';
@import 'scss/icono';
@import 'scss/fonts';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";