<nav class="navbar is-white topNav">
    <div class="container">

        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <p class="card-header-title">Sistema de Gestión de Ordenes</p>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="OC, Rut, Email">
                        </div>
                        <div class=" control ">
                            <a class="button is-info" (click)="rerender()">
                            Buscar
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="color ">
    <section class="container is-fluid ">
        <div class="card ">
            <div class="card-header ">
                <p class="label-title">Cliente</p>
            </div>
            <div class="content ">
                <div class="columns ">
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Nombre</label>
                            <div class="control is-disabled ">
                                <input class="input is-disabled " readonly type="text ">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Rut</label>
                            <div class="control ">
                                <input class="input " readonly type="text ">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Telefono</label>
                            <div class="control ">
                                <input class="input " readonly type="text ">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Email</label>
                            <div class="control ">
                                <input class="input " readonly type="text ">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Direccion</label>
                            <div class="control ">
                                <input class="input " readonly type="text ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="card  ">
            <div class="card-header ">
                <p class="label-title">Productos Comprados</p>
            </div>
            <div class="content ">
                <div class="columns">
                    <div class="column">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table" style="padding-top: 3px;"></table>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="card  ">
            <div class="card-header ">
                <p class="label-title">Detalle de Compra</p>
            </div>
            <div class="content ">
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">

                        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="Fecha">
                            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Fecha}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Canal">
                            <mat-header-cell *matHeaderCellDef> Canal </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.Canal}} </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="OC">
                            <mat-header-cell *matHeaderCellDef> OC </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.OC}} </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="EstOC">
                            <mat-header-cell *matHeaderCellDef> Est.OC </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.EstOC}} </mat-cell>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="TipoDesp">
                            <mat-header-cell *matHeaderCellDef> Tipo Desp. </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.TipoDesp}} </mat-cell>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="FactBol">
                            <mat-header-cell *matHeaderCellDef> Fact/Bol </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.FactBol}} </mat-cell>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="FolioDte">
                            <mat-header-cell *matHeaderCellDef> Folio DTE </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.FolioDte}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    <div class="card  ">
                        <div class="content ">
                            <div class="columns">
                                <div class="column ">
                                    <div class="field ">
                                        <label class="label is-small ">Medio de Pago</label>
                                        <div class="control ">
                                            <article class="message is-dark">
                                                <div class="message-body">
                                                    Pago con tarjeta ripley
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column ">
                                    <div class="field ">
                                        <label class="label is-small ">Datos de Despacho</label>
                                        <div class="control ">
                                            <input class="input " readonly type="text ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column ">
                                    <div class="field ">
                                        <label class="label is-small ">Entrega Compromiso</label>
                                        <div class="control ">
                                            <input class="input " readonly type="text ">
                                        </div>
                                    </div>
                                </div>
                                <div class="column ">
                                    <div class="field ">
                                        <label class="label is-small ">Entrega conforme</label>
                                        <div class="control ">
                                            <input class="input " readonly type="text ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-7">
                    <div class="card  ">
                        <div class="content ">
                            <div class="example-container mat-elevation-z8">
                                <mat-table #table [dataSource]="transactions">
                                    <!-- Item Column -->
                                    <ng-container matColumnDef="item">
                                        <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
                                        <mat-cell *matCellDef="let transaction"> {{transaction.item}} </mat-cell>
                                        <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
                                    </ng-container>

                                    <!-- Cost Column -->
                                    <ng-container matColumnDef="cost">
                                        <mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
                                        <mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </mat-cell>
                                        <mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumnss"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnss;"></mat-row>
                                    <mat-footer-row *matFooterRowDef="displayedColumnss; sticky: true"></mat-footer-row>
                                </mat-table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<footer class="footer ">
    <div class="container ">
        <div class="content has-text-centered ">
            <div class="columns is-mobile is-centered ">
                <div class="field is-grouped is-grouped-multiline ">
                    <div class="control ">
                        <div class="tags has-addons ">
                            <a class="tag is-link " href="https://github.com/dansup/bulma-templates ">Bulma Templates</a>
                            <span class="tag is-light ">Daniel Supernault</span>
                        </div>
                    </div>
                    <div class="control ">
                        <div class="tags has-addons ">
                            <a class="tag is-link ">The source code is licensed</a>
                            <span class="tag is-light ">MIT &nbsp;<i class="fa fa-github "></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>