<nav class="navbar is-white topNav">
    <div class="container">

        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <p class="card-header-title">Sistema de Gestión de Ordenes</p>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="OC, Rut, Email">
                        </div>
                        <div class="control">
                            <a class="button is-info">
                            Buscar
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="color">
    <section class="container is-fluid">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">Cliente</p>
            </div>
            <div class="content">
                <div class="columns">
                    <div class="column ">
                        <div class="field">
                            <label class="label is-small">Nombre</label>
                            <div class="control is-disabled">
                                <input class="input is-disabled" readonly type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label is-small">Rut</label>
                            <div class="control">
                                <input class="input" readonly type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label is-small">Telefono</label>
                            <div class="control">
                                <input class="input" readonly type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field">
                            <label class="label is-small">Email</label>
                            <div class="control">
                                <input class="input" readonly type="text">
                            </div>
                        </div>
                    </div>
                    <div class="column ">
                        <div class="field ">
                            <label class="label is-small ">Direccion</label>
                            <div class="control ">
                                <input class="input " readonly type="text ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="card is-hidden1">
            <div class="card-header">
                <a href="" class="card-header-title">donde sea</a>
            </div>

            <div class="content">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr style="color:white;background-color:grey">
                                    <th>Header 1</th>
                                    <th>Header 2</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height:400px; overflow:auto;">
                                <table class="table">
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                    <tr>
                                        <td>new item</td>
                                        <td>new item</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </section>
</div>
<footer class="footer ">
    <div class="container ">
        <div class="content has-text-centered ">
            <div class="columns is-mobile is-centered ">
                <div class="field is-grouped is-grouped-multiline ">
                    <div class="control ">
                        <div class="tags has-addons ">
                            <a class="tag is-link " href="https://github.com/dansup/bulma-templates ">Bulma Templates</a>
                            <span class="tag is-light ">Daniel Supernault</span>
                        </div>
                    </div>
                    <div class="control ">
                        <div class="tags has-addons ">
                            <a class="tag is-link ">The source code is licensed</a>
                            <span class="tag is-light ">MIT &nbsp;<i class="fa fa-github "></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>